ota_firmware_update_single/ota_firmware_update_single.json
[{"id":"882c4dc7b4f1d201","type":"tab","label":"OTA Update","disabled":false,"info":"","env":[]},{"id":"d5040cf99e23bce6","type":"group","z":"882c4dc7b4f1d201","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["09678fd35460063e","51a2fb7a3ed7d6bd","6b6c24574211defa","d169de4eaf02568c"],"x":114,"y":119,"w":952,"h":122},{"id":"e6cc28e1757a31f7","type":"group","z":"882c4dc7b4f1d201","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["09c1efdb191819d4","e79a34d202028905","fb9c69dc716bd3e2","0e9b4e62a1069aac"],"x":114,"y":259,"w":952,"h":122},{"id":"01f2b5bb3391bed6","type":"group","z":"882c4dc7b4f1d201","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["e59ecaa03c4d29a5","caa2fe36f40eaffb"],"x":114,"y":439,"w":432,"h":122},{"id":"b58c2d214ac3ae0f","type":"ncd-gateway-node","z":"882c4dc7b4f1d201","name":"","connection":"3a158777559a1790","unknown_devices":0,"outputs":1,"x":830,"y":520,"wires":[["122b6cc615f71f87"]]},{"id":"122b6cc615f71f87","type":"debug","z":"882c4dc7b4f1d201","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":520,"wires":[]},{"id":"09678fd35460063e","type":"inject","z":"882c4dc7b4f1d201","g":"d5040cf99e23bce6","name":"add_firmware_file from Local","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"add_firmware_file","x":280,"y":200,"wires":[["6b6c24574211defa"]]},{"id":"51a2fb7a3ed7d6bd","type":"debug","z":"882c4dc7b4f1d201","g":"d5040cf99e23bce6","name":"from Local","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":200,"wires":[]},{"id":"6b6c24574211defa","type":"file in","z":"882c4dc7b4f1d201","g":"d5040cf99e23bce6","name":"Read file from local storage","filename":"","filenameType":"str","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":560,"y":200,"wires":[["51a2fb7a3ed7d6bd","b58c2d214ac3ae0f"]]},{"id":"d169de4eaf02568c","type":"comment","z":"882c4dc7b4f1d201","g":"d5040cf99e23bce6","name":"Pull from local machine","info":"","x":480,"y":160,"wires":[]},{"id":"09c1efdb191819d4","type":"debug","z":"882c4dc7b4f1d201","g":"e6cc28e1757a31f7","name":"from Github","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":340,"wires":[]},{"id":"e79a34d202028905","type":"inject","z":"882c4dc7b4f1d201","g":"e6cc28e1757a31f7","name":"add_firmware_file from github","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"add_firmware_file","x":280,"y":340,"wires":[["fb9c69dc716bd3e2"]]},{"id":"fb9c69dc716bd3e2","type":"http request","z":"882c4dc7b4f1d201","g":"e6cc28e1757a31f7","name":"HTTP GET from Github","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":550,"y":340,"wires":[["09c1efdb191819d4","b58c2d214ac3ae0f"]]},{"id":"0e9b4e62a1069aac","type":"comment","z":"882c4dc7b4f1d201","g":"e6cc28e1757a31f7","name":"Pull file from GitHub","info":"","x":470,"y":300,"wires":[]},{"id":"e59ecaa03c4d29a5","type":"inject","z":"882c4dc7b4f1d201","g":"01f2b5bb3391bed6","name":"Inject MAC of sensor to update","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"ota_firmware_update_single","payload":"00:13:a2:00:42:53:64:53","payloadType":"str","x":290,"y":520,"wires":[["b58c2d214ac3ae0f"]]},{"id":"caa2fe36f40eaffb","type":"comment","z":"882c4dc7b4f1d201","g":"01f2b5bb3391bed6","name":"Inject single MAC/Serial address for device to update","info":"","x":330,"y":480,"wires":[]},{"id":"3a158777559a1790","type":"ncd-gateway-config","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"/dev/ttymxc2","baudRate":"115200","pan_id":"7FFF","rssi":false}]
