ota_firmware_update_multiple/ota_firmware_update_multiple.json
[{"id":"a67c737cf1faeb28","type":"subflow","name":"Addresses","info":"","category":"","in":[{"x":180,"y":200,"wires":[{"id":"4060b0a438944c37"}]}],"out":[{"x":560,"y":200,"wires":[{"id":"4060b0a438944c37","port":0}]}],"env":[{"name":"MAC_1","type":"str","value":"","ui":{"icon":"font-awesome/fa-id-badge","label":{"en-US":"Address 1"},"type":"input","opts":{"types":["str"]}}},{"name":"MAC_2","type":"str","value":"","ui":{"icon":"font-awesome/fa-id-badge","label":{"en-US":"Address 2"},"type":"input","opts":{"types":["str"]}}},{"name":"MAC_3","type":"str","value":"","ui":{"icon":"font-awesome/fa-id-badge","label":{"en-US":"Address 3"},"type":"input","opts":{"types":["str"]}}},{"name":"MAC_4","type":"str","value":"","ui":{"icon":"font-awesome/fa-id-badge","label":{"en-US":"Address 4"},"type":"input","opts":{"types":["str"]}}},{"name":"MAC_5","type":"str","value":"","ui":{"icon":"font-awesome/fa-id-badge","label":{"en-US":"Address 5"},"type":"input","opts":{"types":["str"]}}},{"name":"MAC_6","type":"str","value":"","ui":{"icon":"font-awesome/fa-id-badge","label":{"en-US":"Address 6"},"type":"input","opts":{"types":["str"]}}},{"name":"MAC_7","type":"str","value":"","ui":{"icon":"font-awesome/fa-id-badge","label":{"en-US":"Address 7"},"type":"input","opts":{"types":["str"]}}},{"name":"MAC_8","type":"str","value":"","ui":{"icon":"font-awesome/fa-id-badge","label":{"en-US":"Address 8"},"type":"input","opts":{"types":["str"]}}},{"name":"MAC_9","type":"str","value":"","ui":{"icon":"font-awesome/fa-id-badge","label":{"en-US":"Address 9"},"type":"input","opts":{"types":["str"]}}},{"name":"MAC_10","type":"str","value":"","ui":{"icon":"font-awesome/fa-id-badge","label":{"en-US":"Address 10"},"type":"input","opts":{"types":["str"]}}}],"meta":{},"color":"#A6BBCF","icon":"font-awesome/fa-microchip","status":{"x":560,"y":280,"wires":[{"id":"97e99cda2af8cf63","port":0},{"id":"c10309b1e9d696ad","port":0}]}},{"id":"4060b0a438944c37","type":"function","z":"a67c737cf1faeb28","name":"ncd-to-array","func":"let addr = flow.get('addr') || 0;\nif(addr){\n    msg.payload = {\n        'addresses': addr\n    };\n    msg.topic = \"ota_firmware_update_multiple\";\n    return msg;\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":290,"y":200,"wires":[["c10309b1e9d696ad"]]},{"id":"97e99cda2af8cf63","type":"function","z":"a67c737cf1faeb28","name":"ncd-validate-addr","func":"let address = [\n    env.get('MAC_1'),\n    env.get('MAC_2'), \n    env.get('MAC_3'), \n    env.get('MAC_4'), \n    env.get('MAC_5'),\n    env.get('MAC_6'),\n    env.get('MAC_7'), \n    env.get('MAC_8'), \n    env.get('MAC_9'), \n    env.get('MAC_10')\n];\nlet seen = new Set(); // To track seen MAC addresses\n\nfor (let i = 0; i < address.length; i++) { // validate\n    let mac = address[i];\n    if (mac === \"\") {            \n        // Validate if there are blank inputs\n    }\n    else \n    {\n        if (mac.length !== 23) {\n            let text = \"Invalid length addr: \" + (i + 1); \n            msg.payload = ({fill: \"red\",text: text});\n            flow.set('addr', false);\n            return msg;\n        }\n        // Regular expression for validation\n        const macRegex = /^([0-9A-Fa-f]{2}:){7}[0-9A-Fa-f]{2}$/;\n        // Split and check each group (optional additional checks can go here)\n        let parts = mac.split(\":\");\n        if (!macRegex.test(mac) || parts.length !== 8) {\n            let text = \"Invalid format addr: \" + (i + 1); \n            msg.payload = ({fill: \"red\",text: text});\n            flow.set('addr', false);\n            return msg;\n        }\n        // validate if there are duplicate macs\n        if (seen.has(mac)) {\n            let text = \"Duplicate Address found: \" + mac.substring(12); \n            msg.payload = ({ fill: \"red\", text: text });\n            flow.set('addr', false);\n            return msg;\n        }\n        seen.add(mac);\n    }\n}\n// Define a regular expression for validating MAC addresses\nconst macRegex = /^([0-9A-Fa-f]{2}:){7}[0-9A-Fa-f]{2}$/;\n// Filter the array to keep only valid and non-empty MAC addresses\nlet validAddresses = address.filter(address => macRegex.test(address));\n\nif(validAddresses.length < 1){\n    flow.set('addr', validAddresses);\n    msg.payload = ({ fill: \"yellow\", shape: \"ring\", text: \"Empty\" });\n    return msg;\n}\nelse{\n    flow.set('addr', validAddresses);\n    msg.payload = ({ fill: \"green\", text: \"Ready\" });\n    return msg;\n}","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":280,"wires":[[]]},{"id":"06e53c6c217f3288","type":"inject","z":"a67c737cf1faeb28","name":"","props":[],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","x":175,"y":280,"wires":[["97e99cda2af8cf63"]],"l":false},{"id":"c10309b1e9d696ad","type":"function","z":"a67c737cf1faeb28","name":"ncd-addr-sent","func":"msg.payload = ({ fill: \"green\", shape: \"ring\", text: \"Sent\" });\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":240,"wires":[[]]},{"id":"882c4dc7b4f1d201","type":"tab","label":"OTA Update","disabled":false,"info":"","env":[]},{"id":"d5040cf99e23bce6","type":"group","z":"882c4dc7b4f1d201","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["09678fd35460063e","51a2fb7a3ed7d6bd","6b6c24574211defa","d169de4eaf02568c"],"x":114,"y":119,"w":952,"h":122},{"id":"e6cc28e1757a31f7","type":"group","z":"882c4dc7b4f1d201","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["09c1efdb191819d4","e79a34d202028905","fb9c69dc716bd3e2","0e9b4e62a1069aac"],"x":114,"y":259,"w":952,"h":122},{"id":"80ae0b16306041fe","type":"group","z":"882c4dc7b4f1d201","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["dd5be2d3ca243d2e","9f60d2c4e93d72b4","bae169caf5395ea9"],"x":114,"y":419,"w":472,"h":122},{"id":"b58c2d214ac3ae0f","type":"ncd-gateway-node","z":"882c4dc7b4f1d201","name":"","connection":"3a158777559a1790","unknown_devices":0,"outputs":1,"x":830,"y":520,"wires":[["122b6cc615f71f87"]]},{"id":"122b6cc615f71f87","type":"debug","z":"882c4dc7b4f1d201","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1060,"y":520,"wires":[]},{"id":"09678fd35460063e","type":"inject","z":"882c4dc7b4f1d201","g":"d5040cf99e23bce6","name":"add_firmware_file from Local","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"add_firmware_file","x":280,"y":200,"wires":[["6b6c24574211defa"]]},{"id":"51a2fb7a3ed7d6bd","type":"debug","z":"882c4dc7b4f1d201","g":"d5040cf99e23bce6","name":"from Local","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":950,"y":200,"wires":[]},{"id":"6b6c24574211defa","type":"file in","z":"882c4dc7b4f1d201","g":"d5040cf99e23bce6","name":"Read file from local storage","filename":"","filenameType":"str","format":"","chunk":false,"sendError":false,"encoding":"none","allProps":false,"x":560,"y":200,"wires":[["51a2fb7a3ed7d6bd","b58c2d214ac3ae0f"]]},{"id":"d169de4eaf02568c","type":"comment","z":"882c4dc7b4f1d201","g":"d5040cf99e23bce6","name":"Pull from local machine","info":"","x":480,"y":160,"wires":[]},{"id":"09c1efdb191819d4","type":"debug","z":"882c4dc7b4f1d201","g":"e6cc28e1757a31f7","name":"from Github","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":340,"wires":[]},{"id":"e79a34d202028905","type":"inject","z":"882c4dc7b4f1d201","g":"e6cc28e1757a31f7","name":"add_firmware_file from github","props":[{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"add_firmware_file","x":280,"y":340,"wires":[["fb9c69dc716bd3e2"]]},{"id":"fb9c69dc716bd3e2","type":"http request","z":"882c4dc7b4f1d201","g":"e6cc28e1757a31f7","name":"HTTP GET from Github","method":"GET","ret":"bin","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","insecureHTTPParser":false,"authType":"","senderr":false,"headers":[],"x":550,"y":340,"wires":[["09c1efdb191819d4","b58c2d214ac3ae0f"]]},{"id":"0e9b4e62a1069aac","type":"comment","z":"882c4dc7b4f1d201","g":"e6cc28e1757a31f7","name":"Pull file from GitHub","info":"","x":470,"y":300,"wires":[]},{"id":"dd5be2d3ca243d2e","type":"subflow:a67c737cf1faeb28","z":"882c4dc7b4f1d201","g":"80ae0b16306041fe","name":"","x":370,"y":500,"wires":[["b58c2d214ac3ae0f"]],"icon":"node-red/inject.svg"},{"id":"9f60d2c4e93d72b4","type":"inject","z":"882c4dc7b4f1d201","g":"80ae0b16306041fe","name":"","props":[],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","x":175,"y":500,"wires":[["dd5be2d3ca243d2e"]],"l":false},{"id":"bae169caf5395ea9","type":"comment","z":"882c4dc7b4f1d201","g":"80ae0b16306041fe","name":"Inject multiple MAC/Serial addresses for device updates.","info":"","x":350,"y":460,"wires":[]},{"id":"3a158777559a1790","type":"ncd-gateway-config","name":"","comm_type":"serial","ip_address":"","tcp_port":"2101","port":"/dev/ttymxc2","baudRate":"115200","pan_id":"7FFF","rssi":false}]
